/*
Theme Name: Twenty Seventeen Child
Theme URL: http://www.nepgeeks.com
Description: Twenty Seventeen Child Theme
Author: Utsab Gyawali
Author URL: http://www.nepgeeks.com
Template: twentyseventeen
Version: 1.0.0
Text Domain: twentyseventeen-child
*/ 

#about {
    padding-bottom: 0;
    background: #f0f0f0;
    padding-bottom: 60px;
}
.section-wrapper {
    padding-bottom: 40px;
}
.width-100p {
	width: 100%;
}
.height-100p {
	height: 100%;
}
.table {
	display: table;
	margin-bottom: 0;
	height: 100%;
}
.table-row {
	display: table-row;
}
.table-cell {
	display: table-cell;
}

